
<div class="hero">
    <div class="heroContainer" id="hContainer" [ngStyle]="{backgroundImage:'url('+ fondoImagen +')'}">
      <div class="heroMain">
        <h3 class="city">Mar del Plata</h3>
        <div *ngIf="pronostico[diaSeleccionado]" class="currentDate">
          {{pronostico[diaSeleccionado].Date}}
        </div>
        <div *ngIf="pronostico[0]" class="currentDay">
            {{pronostico[0].Day.IconPhrase}}
        </div>
        <div class="heroLabel">
          <div class="heroCard" id="min">Mínima: {{pronostico[diaSeleccionado].Temperature.Minimum.Value}}</div>
          <div class="heroCard" id="max">Máxima: {{pronostico[diaSeleccionado].Temperature.Maximum.Value}}</div>
          <div class="heroCard" id="dia">Día: {{pronostico[diaSeleccionado].Day.IconPhrase}}</div>
          <div class="heroCard" id="noche">Nocturno: {{pronostico[diaSeleccionado].Night.IconPhrase}}</div>
        </div>
      </div>
      <div class="heroSide">
        <h1>heroSide</h1>
      </div>
    </div>
</div>
  
  
  
  