
  .cinco-dias-container {
    margin-left: 12px;
    display: grid;
    grid-template-columns: repeat(5, calc(20% + 12px));
    gap: 9px;
    text-align: center;
    padding: 10px;
  }


.dia, .diaIconos {
  padding: 10px;
  font-weight: bold;
  border: 1px;
  border-radius: 5px;
  transition: background-color 0.3s; /* Transición suave del color de fondo */
}

.diaIconos img {
  max-width: 100%; /* Asegura que la imagen no sea más ancha que su contenedor */
}

/* Asignar colores diferentes a cada día */
.dia:nth-child(1) {
  background-color: #FF5733;
}

.dia:nth-child(2) {
  background-color: #33FF57;
}

.dia:nth-child(3) {
  background-color: #5733FF;
}

.dia:nth-child(4) {
  background-color: #FF33A6;
}

.dia:nth-child(5) {
  background-color: #A633FF;
}

/* Estilos de hover */
.dia:hover {
  background-color: #23e4f5; /* Cambia el color de fondo al pasar el cursor por encima */
}

.diaIconos:hover {
  background-color: #23e4f5; /* Cambia el color de fondo al pasar el cursor por encima */
}