.cinco-dias-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, calc(20% - 10px)); /* Ajuste del ancho de las columnas */
    gap: 9px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box; 
    width: 100%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dia, .diaIconos {
  padding: 10px;
  font-weight: bold;
  border: 1px;
  border-radius: 5px;
  transition: background-color 0.3s; /* Transicion suave del color de fondo */
}

/* Asignar colores diferentes a cada dia */
.dia:nth-child(1) {
  background-color: #7E7BE1;
}

.dia:nth-child(2) {
  background-color: #7E7BE1;
}

.dia:nth-child(3) {
  background-color: #7E7BE1;
}

.dia:nth-child(4) {
  background-color: #7E7BE1;
}

.dia:nth-child(5) {
  background-color: #7E7BE1;
}

.dia:hover {
  cursor: pointer;
  background-color: #23e4f5; 
}
