<div class="login-container">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email:</label>
      <input type="text" id="email" formControlName="email" placeholder="Ingresa tu email"/>

      <span *ngIf="isValidFiled('email')" class="error-message">
        {{ getFieldError("email") }}
      </span>

      <span *ngIf="isValidFiled('email')" class="error-message">
        {{ getFieldError("email") }}
      </span>

      <span
      *ngIf="
        loginForm.controls['email'].hasError('pattern') &&
        loginForm.get('email')!.touched
      "
      class="error-message">
      Formato de email invalido
    </span>
    </div>

    <div class="form-group">

        <label for="password">Contraseña:</label>
  
        <input type="password" formControlName="password" placeholder="Ingresa tu contraseña"/>
  
        <span *ngIf="isValidFiled('password')" class="error-message">
          {{ getFieldError("password") }}
        </span>
      </div>

   <button type="submit" [disabled]="loginForm.invalid" class="login-button">Iniciar Sesión</button>
  </form>
</div>