<div class="container">
  <div class="row justify-content-center ">
    <div class="col-md-6 personalized-login">
      <div class="login-container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-4">

          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="text" id="email" formControlName="email" placeholder="Email" class="form-control"/>

            <span *ngIf="isValidFiled('email')" class="error-message">
              {{ getFieldError("email") }}
            </span>

            <span
              *ngIf="
                loginForm.controls['email'].hasError('pattern') &&
                loginForm.get('email')!.touched
              "
              class="error-message">
              Wrong email format
            </span>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" formControlName="password" placeholder="Password" class="form-control"/>

            <span *ngIf="isValidFiled('password')" class="error-message">
              {{ getFieldError("password") }}
            </span>
          </div>

          <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
          <button type="button" class="btn btn-secondary ms-2" (click)="onRegister()">Register</button>
        </form>
      </div>
      <div class="col-md-6">
        <img [src]="loginImage" alt="login image" class="personalized">
      </div>
    </div>
  </div>
</div>