app-hero {
    grid-column: 1/4;
    grid-row: 1/2;
}

cinco-dias {
    margin-top: 1em;
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: white;
}

app-chat {
    grid-row: 3/4;
    grid-column: 1/4;
}

.chat {
    padding-top: 85px;
}
