<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="register-container">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="p-4">
  
            <div class="mb-3">
              <label for="register-email" class="form-label">Email:</label>
              <input type="email" id="email" formControlName="email" placeholder="Email" class="form-control"/>
              <span *ngIf="this.userForm.get('email')?.errors?.['pattern']">
                (Need to be valid email)
              </span>
            </div>
  
            <div class="mb-3">
              <label for="register-password" class="form-label">Contraseña:</label>
              <input type="password" id="password" formControlName="password" placeholder="Password" class="form-control"/>
              <span *ngIf="this.userForm.get('password')?.errors?.['minlength']">
                (Minimun 6 characters)
              </span>
            </div>
  
            <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Register</button>
            <button type="button" class="btn btn-secondary ms-2" (click)="goToLogin()">Back to login</button>
          </form>
        </div>
      </div>
    </div>
  </div>