<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="register-container">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="p-4">
  
            <div class="mb-3">
              <label for="register-email" class="form-label">Add your email:</label>
              <input type="email" id="email" formControlName="email" placeholder="Email" class="form-control"/>
                <div class="alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                  <div *ngIf="userForm.get('email')!.hasError('required')">*Required email</div>
                  <div *ngIf="userForm.get('email')!.hasError('pattern')">*Invalid email</div>
                </div>
            </div>
  
            <div class="mb-3">
              <label for="register-password" class="form-label">Add your password:</label>
              <input type="password" id="password" formControlName="password" placeholder="Password" class="form-control"/>
                <div class="alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                  <div *ngIf="userForm.get('password')!.hasError('required')">*Required password</div>
                  <div *ngIf="userForm.get('password')!.hasError('minlength')">*Minimum 6 characters</div>
              </div>
            </div>
  
            <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Register</button>
            <button type="button" class="btn btn-secondary ms-2" (click)="goToLogin()">Back to login</button>
          </form>
        </div>
      </div>
    </div>
  </div>