<h2 mat-dialog-title class="custom-dialog-title">Edit User</h2>
<div mat-dialog-content class="custom-dialog-content">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="custom-form">

    <div class="mb-3">
      <label for="register-email" class="form-label">Email:</label>
      <input type="email" id="email" formControlName="email"  class="form-control"/>
      <span *ngIf="this.userForm.get('email')?.errors?.['pattern']">
        (Need to be valid email)
      </span>
    </div>

    <div class="mb-3">
      <label for="register-password" class="form-label">Password:</label>
      <input type="text" id="password" formControlName="password"  class="form-control"/>
      <span *ngIf="this.userForm.get('password')?.errors?.['minlength']">
        (Minimun 6 characters)
      </span>
    </div>

    <div mat-dialog-actions class="custom-dialog-actions">
      <button mat-button (click)="closeDialog()" class="custom-button">Cancel</button>
      <button type="submit" mat-button class="custom-button">Save</button>
    </div>
  </form>
</div>
